<div class="row">
	<div class="span6 offset3">
		<%= simple_form_for @pool do |f| %>
			<%=f.input :name %>
			<%=f.input :description%>
			<%=f.input :specialization%>
			<%=f.button :submit, {class: "btn btn-primary"} %>
		<%end%>
	</div>
</div>
