<h1>Pools</h1>
<table>
	<thead>
		<th>Name</th>
		<th>Description</th>
		<th>Institution</th>
		<th>Specialization</th>
	</thead>
	<tbody>
	<% @pools.each do |pool| %>
		  <tr>
			<td><%= pool.name %></td>
			<td><%= pool.description %></td>
			<td><%= pool.institution %></td>
			<td><%= pool.specialization %></td>
			<% current_user.pools.each do |p| %>
				<%if pool.id == p.id %>
					<td><%= link_to 'Show', pool %></td>
					<td><%= link_to 'Edit', edit_pool_path(pool) %></td>
				<%end%>
			<%end%>
			<%if is_director%>
				<td><%= link_to 'Destroy', pool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			<%end%>
			</tr>
		<%end%>
	</tbody>
</table>
<%=will_paginate%>
<%if is_director?(current_user)%>
	<%= link_to 'New Pool', new_pool_path %> 
<%end%>