<h1>Pools</h1>

<% @pools.each do |pool| %>
      <tr>
	<td><%= pool.name %></td>
	<td><%= pool.description %></td>
	
        <td><%= link_to 'Show', pool %></td>
        <td><%= link_to 'Edit', edit_pool_path(pool) %></td>
        <td><%= link_to 'Destroy', pool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

