<h1>Pool#show</h1>
<p>name: <%=@pool.name%></p>
<p>description: <%=@pool.description%></p>
<p>institution: <%=@pool.institution%></p>
<p>specialization: <%=@pool.specialization%></p>
<%= link_to 'Back', pools_path%>