<h1><%=@pool.name%></h1>
<p>description: <%=@pool.description%></p>
<p>institution: <%=@pool.institution%></p>
<p>specialization: <%=@pool.specialization%></p>
<table class="table">
<p>current users in the pool</p>
<%if is_admin %>
	<%@users.each do |user|%>
		<tr class="row">
		<td><%=user.name%></td>
		</tr>
	<%end%>
<%end%>
</table>
<%= link_to 'Back', pools_path%>