<div class= "row">
  <div class="col-md-2"></div>
    <div class="col-md-8">
      <%if params[:institutions].nil? or params[:institutions] == "My Institutions"%>
      <h1>My Institutions</h1>
    <%else%>
      <h1>Other Institutions</h1>
    <%end%>
      <div class="panel panel-default">
        <div class="panel-body left-header">
          <%= link_to 'My Institutions', institutions_path({:institution => "My"}), {class: isMyInstitution} %>
          <%= link_to 'Other Institutions', institutions_path({:institution => "Other"}), {class: isOtherInstitution} %>
        </div>

        <div class="right-header"></div>
      </div>
      <br />
      <br />
      <%if @institution.empty? %>
        <%if params[:institution].nil?%>
          <h5>You do not have any institutions associated with you</h5>
        <%else%>
          <h5>there seems to be a problem finding any other institutions</h5>
        <%end%>
      <%else%>
        <table class="table table-hover">
          <thead class="active">
                  <th>Name</th>
                  <th>Description</th>
                  <th></th>
                  <th></th>
          </thead>
          <tbody>
            <%if params[:institution]=="Other"%>
            <%else%>
              <% @institution.each do |institution| %>
				<tr class="active" data-link="<%= institution_path(institution)%>">
                      <td><%= institution.name %></td>
                      <td><%= institution.description %></td>
                      <td></td>
                  <%if is_director%>
                       <td><%= link_to 'Edit', institution_path(institution),{class: "btn btn-warning"} %></td>
                       <td><%= link_to 'Edit', edit_institution_path(institution),{class: "btn btn-warning"} %></td>
                  <%else%>
                       <td></td>
                  <%end%>
                      </tr>
              <%end%>
        <%#will_paginate %>
            <%end%>
          </tbody>
        </table>
      <%end%>
    </div>
<div class="col-md-2"></div>
</div>
</div>
                 <style>
.not-active {
   pointer-events: none;
   cursor: default;
}
</style>

