<h1>Messages</h1>
<div id='popup'>
<table>
		<thead>
		<th>name</th>
		<th></th>
		</thead>
	<%@contacts.each do |user|%>
	<%unless user == current_user%>
		<tr>
		<td><%=user.name%></td>
			<td>
				<%=simple_form_for(@message) do |f|%>
					<%= hidden_field :message, :messageable_id, :value => user.id %>
					<%= hidden_field :message, :messageable_type, :value => User.name %>
					<%= hidden_field :message, :user_id, :value => current_user.id %>
					<%= hidden_field :message, :message, :value =>current_user.name+ " started conversation with "+user.name %>
					<%=f.button :submit %>
				
				<%end%>
			
			</td>
			
		<%end%>
		</tr>
	<%end%>
	
	</table>

	<button onclick="$('#popup').hide();">Close</button>

</div>
<table>
<thead>
<th>user name </th>


</thead>
<tbody>
<% @users.each do |user|%>
<% if current_user.id == user.messageable_id%>
	<%@user = User.find(user.user_id)%>
<%else%>
	<%@user = User.find(user.messageable_id)%>
<%end%>
<tr>
	<td><%=@user.name%> </td>
	<td><%= link_to 'New Message', new_message_path({messageable_type: User.name, messageable_id: @user.id}) %></td>
</tr>

<%end%>
	</tbody>
</table>
<button onclick="$('#popup').show();">Start Conversation</button>
