<h1>Conversation history</h1>
<% @messages.each do |message| %>
<p><%=message.message%></p>
<%end%>
<div class="head hide">Contacts</div>
<div id='popup' class="content hide">
<table>
		<thead>
		<th>name</th>
		<th></th>
		</thead>
		<tbody>
	<%@users.each do |user|%>
	<%unless user == current_user%>
		<tr>
		<td><%=user.name%></td>
			<td>
			<% if params[:messageable_type]==Appointment.name%>
				<%=simple_form_for(@message) do |f|%>
					<%= hidden_field :message, :messageable_id, :value => params[:messageable_id] %>
					<%= hidden_field :message, :messageable_type, :value => Appointment.name %>
					<%= hidden_field :message, :user_id, :value => user.id %>
					<%= hidden_field :message, :message, :value => user.name+" added to conversation" %>
					<%=f.button :submit %>
				<%end%>
			<%end%>
			</td>
			
		<%end%>
		</tr>
	<%end%>
	</tbody>
	</table>	
	<button onclick="$('#popup').hide();">Close</button>

</div>
<p><%# @users%></p>
<p><%# @messages%></p>

<h1>New Message</h1>
<%= form_for(@message) do |f| %>
	<%= render 'shared/error_messages' %>
	<%= hidden_field :message, :messageable_id, :value =>	params[:messageable_id] %>
	<%= hidden_field :message, :messageable_type, :value => params[:messageable_type] %>
	<%= hidden_field :message, :user_id, :value => current_user.id %>
	<%=text_area :message, :message ,:size => "3\20x10"%>
	<%= f.submit "Send message", class: "btn btn-large btn-primary" %>
<% end %>

<%if params[:messageable_type]==Appointment.name%>
<%unless is_patient%>
<button onclick="$('#popup').show();">add recipient</button>
<%end%>
<%end%>