<h1>Conversation history</h1>
<% @messages.each do |message| %>
<p><%=message.message%></p>
<%end%>
<h1>New Message</h1>
<%= form_for(@message) do |f| %>
	<%= render 'shared/error_messages' %>
	<%= hidden_field :internal, :appointment_id, :value => params[:appointment_id] %>
	<%=text_area :message, :message ,:size => "3\20x10"%>
	<%= f.submit "Send message", class: "btn btn-large btn-primary" %>
<% end %>
<div id='popup'>
<table>
		<thead>
		<th>name</th>
		<th></th>
		</thead>
	<%@users.each do |user|%>
		<%=simple_form_for(@message) do |f|%>
			<%= hidden_field :invite, :appointment_id, :value => params[:appointment_id] %>
			<%= hidden_field :invite, :user_id, :value => user.id %>
			<%= hidden_field :message, :message, :value => user.name+" added to conversation" %>
			<%=f.button :submit %>
		<%end%>
		
		
	<%end%>
	</table>
</div>