<h1>Conversation history</h1>
<div class="message-history">
	<% @messages.each do |message| %>
		<%if is_patient?(message.user)%>
			<div class="panel panel-default patient" >
		<%else%>
			<div class="panel panel-default other" >
		<%end%>
		<div class="panel-heading">
			<ul>
				<li class="header-left"><%=message.user.name%></li>
				<%if message.has_attribute?(:updated_at)%>
					<li class="header-right">
						<%=message.updated_at%>
					</li>
				<%end%>
			</ul>	
		</div>
		<div class="panel-body">
			<%=message.message%>
		</div>
		</div>
	<%end%>
</div>
<div id='popup'>
<table>
		<thead>
		<th>name</th>
		<th></th>
		</thead>
		<tbody>
	<%@users.each do |user|%>
	<%unless user == current_user%>
		<tr>
		<td><%=user.name%></td>
			<td>
			<% if params[:messageable_type]==Appointment.name%>
				<%=simple_form_for(@message) do |f|%>
					<%= hidden_field :message, :messageable_id, :value => params[:messageable_id] %>
					<%= hidden_field :message, :messageable_type, :value => Appointment.name %>
					<%= hidden_field :message, :user_id, :value => user.id %>
					<%= hidden_field :message, :message, :value => user.name+" added to conversation" %>
					<%=f.button :submit,{class: "btn btn-success"} %>
				<%end%>
			<%end%>
			</td>
			
		<%end%>
		</tr>
	<%end%>
	</tbody>
	</table>	
	<button onclick="$('#popup').hide();">Close</button>

</div>
<%if params[:messageable_type] == User.name ||(params[:messageable_type]==Appointment.name && @appointment.end_time.nil?)%>
<h1>New Message</h1>
<%= form_for(@message) do |f| %>
	<%= render 'shared/error_messages' %>
	<%= hidden_field :message, :messageable_id, :value =>	params[:messageable_id] %>
	<%= hidden_field :message, :messageable_type, :value => params[:messageable_type] %>
	<%= hidden_field :message, :user_id, :value => current_user.id %>
	<%=text_area :message, :message ,:size => "1x10"%>
	<%= f.submit "Send message", class: "btn btn-large btn-primary" %>
<% end %>

<%if params[:messageable_type]==Appointment.name%>
	<%unless is_patient%>
		<button class="btn btn-info" onclick="$('#popup').show();">add recipient</button>
	<%end%>
	<%if is_doctor %>
		<%= form_for(@appointment) do |f| %>
		<%= hidden_field :appointment, :end_time, :value => DateTime.now %>
		<%= hidden_field :appointment, :func, :value => "close" %>
		<%= f.submit "Close appointment", class: "btn btn-large btn-warning" %>
	<%end%>
	
<% end %>
<%end%>
<%else%>
<h1>Appointment closed</h1>
<%end%>