<% provide(:title, "Edit admin") %>
<%if is_director%>
	<h1>Update <%=@admin.user.name%></h1>
<%else%>
	<h1>Update your profile</h1>
<%end%>
<%=render partial: "shared/inputForm", locals: {user: @user, user_type: @admin, new: false}%>
<%if is_director%>
	<%= render partial: "shared/updatePermissions", locals: {user: @admin, pools: @pools}%>
<%end%>
<%= link_to 'Show', @admin %> |
<%= link_to 'Back', admins_path %>
