<h1>Listing admins</h1>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th>user id</th>
      <th>profile id</th>
      <th>profile type</th>

      </tr>
  </thead>

  <tbody>	
    <% @admins.each do |user| %>
    <%unless user.profile_type.nil?%>
      <tr>
	<td><%= user.name%></td>
	<td><%= user.id%></td>
	<td><%= user.profile_id%></td>
	<td><%= user.profile_type%></td>
	
        <td><%= link_to 'Show', user.profile_type.constantize.find(user.profile_id) %></td>
	<%if user.profile_type =="Admin"%>
		<td><%= link_to 'Edit', edit_admin_path(user.profile_id) %></td>
	<%elsif user.profile_type =="Patient"%>
		<td><%= link_to 'Edit', edit_patient_path(user.profile_id) %></td>
	<%elsif user.profile_type =="Doctor"%>
			<td><%= link_to 'Edit', edit_doctor_path(user.profile_id) %></td>
	<%end%>
	<% if is_director?(current_user) || user.profile_type != "Admin"%>
        <td><%= link_to 'Destroy', '#' %></td>
	<%end%>
	</tr>
      <%else%>
      
      <%end%>
      
    <% end %>
  </tbody>
</table>
<%=will_paginate%>
<br>
<%if is_director?(current_user) %>  
<%= link_to 'New Admin', new_admin_path %> |
<% end %>
<%= link_to 'New Doctor', new_doctor_path %> |
<%= link_to 'New Patient', new_patient_path %>
