<%if @user.profile_type == "Doctor"%>
	<% provide(:title, "Edit doctor") %>
	<%if is_admin%>
		<h1>Update <%=@user.name%></h1>
	<%else%>
      <h1>Update your profile</h1>
	<%end%>

	<%=render partial: "shared/inputForm", locals: {user: @user, user_type: Doctor.find(@user.profile_id), new: false}%>
	<%if is_admin%>
		 <%= render partial: "shared/updatePermissions", locals: {user: @user, pools: @pools}%>
	<%end%>
	<%= link_to 'Show', @user %> 
<%elsif @user.profile_type == "Admin"%>

	<% provide(:title, "Edit admin") %>
	<%if is_director%>
		<h1>Update <%=@user.name%></h1>
	<%else%>
		<h1>Update your profile</h1>
	<%end%>
	<%=render partial: "shared/inputForm", locals: {user: @user, user_type: Admin.find(@user.profile_id), new: false}%>
	<%if is_director && params[:id].to_i != current_user.profile_id%>
		<%= render partial: "shared/updatePermissions", locals: {user: @user, pools: @pools}%>
	<%end%>
	</br>
<%elsif @user.profile_type == "Patient"%>

	<%= link_to 'Profile', @user, {class: "btn btn-primary"} %>
	<% provide(:title, "Edit patient") %>

	<%if is_admin || is_doctor%>
		<h1>Update <%=@user.name%></h1>
	<%else%>
		<%if defined?(params[:settings]) && params[:settings]=="Personal"%>
			<h1>Update your personal information</h1>
		<%else%>
			<h1>Update your profile</h1>
		<%end%>
	<%end%>
	<%#@doctors.each do |doctor|%>
	<!--<p><%#doctor.attributes%></p>-->
	<%#end%>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="panel-body left-header">
				<%if is_patient%>
					<%=link_to "Account Settings", edit_patient_path(@patient,{settings: "Account"}), class: accountSettings%> 
					<%=link_to "Personal Settings", edit_patient_path(@patient,{settings: "Personal"}), class: personalSettings%>
				<%elsif is_admin%>
					<%=link_to "Available Doctors", edit_user_path(@user,{settings: "AvailableDocs"}), class: availableDocSettings%> 
					<%=link_to "Adjust Pools", edit_user_path(@user,{settings: "AdjustPools"}), class: adjustPoolsSettings%>
				<%end%>
			</div>
			<div class="right-header">
				<%= link_to 'View Profile', @patient, {class: "btn btn-primary", style: "margin-left:-15px;"} %> 
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
	<br/>
	<%#displays the edit page for the patient, different views will be created depending on the profile type%>
	<%if is_patient%>
		<%if defined?(params[:settings]) && params[:settings]=="Personal"%>
			<%=render partial: "inputFormPatient", locals: {patient: Patient.find(@user.profile_id)}%>
		<%else defined?(params[:settings]) && params[:settings]=="Account"%>
			<%=render partial: "shared/inputForm", locals: {user: @user, user_type: Patient.find(@user.profile_id), new: false}%>
		<%end%>
		<%#The Admin is checked since he will be the one adding the doctor to the user%>
	<%elsif is_doctor%>
	
	<%elsif is_admin%>
		<%if defined?(params[:settings]) && params[:settings]=="AvailableDocs"%>
		<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
		<table class="table">
		<thead>
			<tr>
				<th>Available Doctors</th>
				<th></th>
			</tr>
		</thead>

		<tbody>	
			
				<% @doctors.each do |doctor| %>		
						<tr>
							<td><%=link_to doctor.name, doctor_path(doctor.profile_id)%></td>
						
							<%if doctor.accepted.nil? && doctor.patient_id == params[:id].to_i%>
								<td>
								<button type="button" class="btn btn-warning" disabled="disabled">pending</button>
								</td>
							<%elsif doctor.accepted==false || doctor.patient_id != params[:id].to_i%>
								<td>
								<%#this will put the confirmation button for adding the current doctor to the patient. it will add [:patient][:func] = 'addDoc' to the params hash%>
								<%=simple_form_for(@user.profile) do |f| %> 
								<%= f.hidden_field :doctor_id, :value => doctor.profile_id %>
								<%= f.hidden_field :patient_id, :value => params[:id] %>
								<%= f.hidden_field :func, :value => "addDoc" %>
								<%= f.submit "add doctor", class: "btn btn-success" %>
								<%end%>
								</td>
							<%elsif doctor.accepted==true%>
								<td>
								<%#this will put the confirmation button for adding the current doctor to the patient. it will add [:patient][:func] = 'removeDoc' to the params hash%>
								<%=simple_form_for(@patient) do |f| %> 
								<%= f.hidden_field :doctor_id, :value => doctor.profile_id %>
								<%= f.hidden_field :patient_id, :value => params[:id] %>
								<%= f.hidden_field :func, :value => "removeDoc" %>
								<%= f.button :submit, "remove doctor", {class: "btn btn-danger"} %>
								<%end%>
								</td>
								<%#else%>
								<td></td>
							<%#end%>
						</tr>
					<%end%>
				<%end%>
		
				</div>
				<div class="col-md-3"></div>
				</div>
			
				</tbody>
				</table>	
			<%else%>
				 <%= render partial: "shared/updatePermissions", locals: {user: @user, pools: @pools}%>
			<%end%>
		 <%end%>


		 <br/>
	 <br/>
<%end%>
