<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%=f.input :emergencyContact%>
  <%=f.input :emergencyPhoneNumber%>
  <%=f.input :dateOfBirth%>
  <%=f.input :familyDoctor%>
  <%=f.input :phoneNumber%>
  <%=f.input :weight%>
  <%=f.input :height%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
