<% provide(:title, "Edit patient") %>
<%if is_admin%>
	<h1>Update <%=@patient.user.name%></h1>
<%else%>
	<h1>Update your profile</h1>
<%end%>
<%#displays the edit page for the patient, different views will be created depending on the profile type%>
<%if is_patient%>
	<%=render partial: "shared/inputForm", locals: {user: @user, user_type: @patient, new: false}%>
	<%#The Admin is checked since he will be the one adding the doctor to the user%>
<%elsif is_doctor%>
	<tbody>
		<div class="row">
			<div class="span6 offset3">
				<%= simple_form_for(@patient) do |f| %>
					<label> Doctors Notes</label>
					<%= f.hidden_field :func, :value => "addNotes" %>
						
							<%=label :patient, :doctorNotes%>
							<%=text_field :patient, :doctorNotes%>
						
					<%= f.button :submit %>
					
				<% end %>
		</div>
	</div>
	</tbody>
<%elsif is_admin%>
	<table>
	<thead>
		<tr>
			<th>Available Doctors</th>
			
			

		</tr>
	</thead>

	<tbody>	
		<%if @doctors.include?(@user)%>
			<% @doctors.each do |doctor| %>
				<%doctor.pools.uniq.each do |dPool|%>
-				<%current_user.pools.each do |pPool|%>
-					<%if dPool == pPool%>
				<%unless doctor ==@user || is_doctor?(doctor) == false%>	
					<tr>
						<td><%=doctor.name%></td>
						<%if @patient.doctor.nil?%>
							<td>
							<%#this will put the confirmation button for adding the current doctor to the patient. it will add [:patient][:func] = 'addDoc' to the params hash%>
							<%=form_for(@patient) do |f| %> 
							<%= f.hidden_field :doctor_id, :value => doctor.profile_id %>
							<%= f.hidden_field :func, :value => "addDoc" %>
							<%= f.submit "add doctor", class: "btn" %>
							<%end%>
							</td>
						<%elsif @patient.doctor_id == doctor.profile_id%>
							<td>
							<%#this will put the confirmation button for adding the current doctor to the patient. it will add [:patient][:func] = 'removeDoc' to the params hash%>
							<%=form_for(@patient) do |f| %> 
							<%= f.hidden_field :doctor_id, :value => doctor.profile_id %>
							<%= f.hidden_field :func, :value => "removeDoc" %>
							<%= f.submit "remove doctor", class: "btn" %>
							<%end%>
							</td>
						<%end%>
					</tr>
				<%end%>
			<%end%>
		<%end%>
		<%end%>
			<%end%>
		<%end%>
	</tbody>
</table>	


<%end%>
<%if is_admin%>
 <%= render partial: "shared/updatePermissions", locals: {user: @patient, pools: @pools}%>
<%end%>
<%= link_to 'Show', @patient %> 
