<% provide(:title, "Edit patient") %>
<h1>Update your profile</h1>
<%if current_user.profile_type =="Patient"%>
<div class="row">
	<div class="span6 offset3">
		<%=form_for(@patient) do |f| %>
			<%= render 'shared/error_messages' %>
			<%=label :user, :name %>
			<%=text_field :user, :name %>

			<%= label :user, :email %>
			<%= text_field :user, :email%>

			<%=label :user, :password %>
			<%=password_field :user, :password%>

			<%= label :user, :password_confirmation, "Confirmation"%>
			<%= password_field :user, :password_confirmation%>

			<%=f.submit "Save changes", class: "btn btn-large btn-primary" %>
		<%end%>
	</div>
</div>
<%elsif current_user.profile_type =="Admin"%>
<table>
	<thead>
		<tr>
			<th>name</th>
			<th>user id</th>
			

		</tr>
	</thead>

	<tbody>	
		<% @doctors.each do |doctor| %>
		
			
				<tr>
				
					<td><%=doctor.name%></td>
					<%if @patient.doctor.nil?%>
					<td>
						<%=form_for(@patient) do |f| %> 
						<%= f.hidden_field :doctor_id, :value => doctor.profile_id %>
						<%= f.hidden_field :func, :value => "add" %>
						<%= f.submit "add doctor", class: "btn" %>
						<%end%>
					</td>
					<%elsif @patient.doctor_id == doctor.profile_id%>
					<td>
						<%=form_for(@patient) do |f| %> 
						<%= f.hidden_field :doctor_id, :value => doctor.profile_id %>
						<%= f.hidden_field :func, :value => "remove" %>
						<%= f.submit "remove doctor", class: "btn" %>
						<%end%>
					</td>
					<%end%>
				</tr>
			
		<%end%>
	</tbody>
</table>		
<%end%>
<%= link_to 'Show', @patient %> |
<%= link_to 'Back', patients_path %>
