<%provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
</div>

<ul class="list-group">
	<li class="list-group-item list-group-item-info">Personal Information</li>
	<li class="list-group-item">Date of Birth: <%= @patient.dateOfBirth %></li>
	<li class="list-group-item">Health Card Number: <%= @patient.healthCardNumber %></li>
	<li class="list-group-item">Phone Number: <%= @patient.phoneNumber %></li>
	<li class="list-group-item">Weight: <%= @patient.weight %></li>
	<li class="list-group-item">Height: <%= @patient.height %></li>
	<li class="list-group-item">Current Medication: <%= @patient.currentMedication %></li>
	<%unless is_patient%>
		<li class="list-group-item">Patients Medical Condition: <%= @patient.currentIssue %></li>
	<%end%>
	<li class="list-group-item">Emergency Contact: <%= @patient.emergencyContact %></li>
	<li class="list-group-item">Emergency Contact Phone Number: <%= @patient.emergencyPhoneNumber %></li>

	<%unless is_patient%>
		<li class="list-group-item">Doctors Notes: <%= @patient.doctorNotes%></li>
		<%#flash[:success]=@patient.doctorNotes%>
	<%end%>
</ul>


<p><%= link_to 'Edit', edit_patient_path(@patient),{class: "btn btn-primary"} %> </p>