<%provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
				
			</h1>
			
		</section>
	</aside>
</div>
<p>
	Date of Birth:
	<%= @patient.dateOfBirth %>
</p>
<p>
	Health Card Number:
	<%= @patient.healthCardNumber %>
</p>
<p>
	Phone Number:
	<%= @patient.phoneNumber %>
</p>
<p>
	Weight:
	<%= @patient.weight %>
</p>
<p>
	Height:
	<%= @patient.height %>
</p>
<p>
	Current Medication:
	<%= @patient.currentMedication %>
</p>


<%unless is_patient%>
	<p>Patients Medical Condition:
	<%= @patient.currentIssue %>
	</p>
<%end%>


<p>
	Emergency Contact:	
	<%= @patient.emergencyContact %>
</p>
<p>
	Emergency Contact Phone Number
	<%= @patient.emergencyPhoneNumber %>
</p>

<%unless is_patient%>
	<p>Doctors Notes:
	<%= @patient.doctorNotes%>
	</p>
	<%#flash[:success]=@patient.doctorNotes%>
<%end%>
<%= link_to 'Edit', edit_patient_path(@patient) %> 

