<%provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>

			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>

			</h1>
		</section>
	</aside>
</div>
<%if is_doctor %>
<p>Current Patients</p>
<% @patients.find_each do |patient|%>
	<p><%=patient.user.name%></p>
	
<%end%>

<%end%>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
