<h1>Appointments</h1>
<table>
  <thead>
    <tr>
	<th>patient name</th>
	<th>patient id</th>
	<th>patient type</th>
	<th>doctor name</th>
	<th>doctor id</th>
	<th>doctor type</th>
	<th></th>

      </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
	<tr>
		<%unless appointment.patient_id.nil?%>
			<%if Patient.exists?(appointment.patient_id)%>
				<% @patient = Patient.find(appointment.patient_id)%>
				<% @patUser = @patient.user%>
				<td><%=@patUser.name%></td>
				<td><%=appointment.patient_id%></td>
				<td><%=@patUser.profile_type%></td>
			<%else%>
				<td></td>
				<td></td>
				<td></td>
			<%end%>
		<%else%>
			<td></td>
			<td></td>
			<td></td>
		<%end%>
		<%unless appointment.doctor_id.nil?%>
			<%if Doctor.exists?(appointment.doctor_id)%>
				<% @doctor = Doctor.find(appointment.doctor_id)%>
				<% @docUser = @doctor.user%>
				<td><%=@docUser.name%></td>
				<td><%=appointment.doctor_id%></td>
				<td><%=@docUser.profile_type%></td>
			<%else%>
				<td></td>
				<td></td>
				<td></td>
			<%end%>
		<%else%>
			<td></td>
			<td></td>
			<td></td>
			
		<%end%>
		<td>
		<%=form_for(appointment) do |f| %> 
			<%= f.hidden_field :appointment_id, :value => appointment.id %>
			<%= f.hidden_field :func, :value => "create" %>
			<%= f.submit "Send new message", class: "btn" %>
			<%end%>
		</td>
		<td>
		<%=form_for(appointment) do |f| %> 
			<%= f.hidden_field :appointment_id, :value => appointment.id %>
			<%= f.hidden_field :func, :value => "destroy" %>
			<%= f.submit "Destroy appointment", class: "btn" %>
			<%end%>
		</td>
		
	</tr>
    <%end%>
    </tbody>
    </table>