<h1>Appointments</h1>
<table>
  <thead>
    <tr>
	<th>name</th>
	<th>description</th>


	<th></th>

      </tr>
  </thead>

  <tbody>

    <% @messages.each do |message| %>
    <%unless message.nil?%>
    <% @appointment=Appointment.find(message.messageable_id)%>
	<tr>
		<td><%=@appointment.name%></td>
		<td><%=@appointment.description%></td>
		

		<td>

		<%=form_for(@appointment) do |f| %> 
			<%= f.hidden_field :messageable_id, :value => @appointment.id %>
			<%= f.hidden_field :messageable_type, :value => Appointment.name %>
			<%= f.hidden_field :func, :value => "create" %>
			<%= f.submit "Send new message", class: "btn" %>
			<%end%>
		</td>
		<td>
		<!--
		<%=form_for(@appointment) do |f| %> 
			<%= f.hidden_field :appointment_id, :value => @appointment.id %>
			<%= f.hidden_field :func, :value => "destroy" %>
			<%= f.submit "Destroy appointment", class: "btn" %>
			<%end%>
		</td>-->
		
	</tr>
    <%end%>
    <%end%>
    </tbody>
    </table>
<%= link_to 'New Appointment', new_appointment_path%> 