<h1>Compose New Message</h1>


<%= simple_form_for(@appointment) do |f| %>
	<%= render 'shared/error_messages' %>
	<%= f.input :name %><br />
	<%if defined?(params[:patient_id])%>
		<%= f.hidden_field :patient_id, :value => params[:patient_id] %>
	<%end%>
	
	<%=f.input  :description, as: :text %>
	<%=f.input :start_time%>
	
	<%= f.submit "Create Appointment", class: "btn btn-large btn-primary" %>
<% end %>

<style>
.appointment_start_time select{
width: inherit;
display: -webkit-inline-box;
}
.appointment_start_time label{
display: block;
}

</style>
