<h1>Compose New Message</h1>


<%= simple_form_for(@appointment) do |f| %>
	<%= render 'shared/error_messages' %>
	<%= f.input :name %><br />
	<%= f.hidden_field :profile_id, :value => @user.profile_id %>
	<%=f.input  :description, as: :text %>
	
	<%= f.submit "Create Appointment", class: "btn btn-large btn-primary" %>
<% end %>
