<h1>Compose New Message</h1>


<%= form_for(@appointment) do |f| %>
	<%= render 'shared/error_messages' %>
	<%= f.label :name %><br />
	<%= f.text_field :name %>
	<%= f.hidden_field :profile_id, :value => @user.profile_id %>
	<%=f.label  :description %>
	<%=f.text_area  :description ,:size => "30x10"%>
	<%= f.submit "Create Appointment", class: "btn btn-large btn-primary" %>
<% end %>
