<h1><%=@activeModel.name%></h1>
<%=link_to "User Activity", user_activities_path(@activeModel,{:view => "Activity"}),class: "btn btn-default, btn-primary"%>
<%=link_to "Actions on User", user_activities_path(@activeModel,{:view => "Actions"}),class: "btn btn-default, btn-primary"%>
<br/><br/>
<table class="table">
  <tr>
    <th>Model</th>
  <th>Action </th>
  <th>Occured at</th>
  <th></th>
    </tr>
<%@activities.each do |activity|%>
  <tr>
    <td><%=activity.trackable_type%></td>
    <td>
  <%=activity.action%>
    </td>
    <td><%=activity.created_at%></td>
    <%if isProfile?(activity.trackable_type)%>  
      <td><%=activity.trackable.user.name%></td>
    <%else%>
      <td><%=activity.trackable.name%></td>
    <%end%>

  </tr>
<%end%>
</table>
